<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="" class="header">My Shop</a>
    <hr>
    <a href="/only-available" class="filter">ONLY AVAILABLE</a>
    <a href="" class="filter">CHEAPEST FIRST</a>
    <a href="" class="filter">CONTAINS NIKE</a>
    <a href="" class="filter">AVERAGE STOCK</a>
    <a href="" class="filter">MOST EXPENSIVE AVAILABLE</a>
    <table>
        <tr >
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.getName()}" class="text"></td>
            <td th:text="${item.getDescription()}" class="text"></td>
            <td th:text="${item.getPrice()} + ' Kč'" class="number"></td>
            <td th:text="${item.getQuantityOfStock()}" class="number"></td>
        </tr>
    </table>
</body>
</html>