<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <ul>
        <li>
            <a>Information</a>
        </li>
    </ul>
    <img src="greenfox.png">
    <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.getFood()}  + ' and ' + ${fox.getDrink()}  + '. He knows ' + ${fox.getTricks().size()}  + ' tricks.'"></p>
    <h1>Known tricks</h1>
    <p th:if="${fox.getTricks().size() == 0}">I dont know any tricks yet.</p>
    <div th:unless="${fox.getTricks().size() == 0}">
        <ul th:each="${fox.getTricks()}">
        </ul>
    </div>
</body>
</html>